.schedule {
    display: flex;
    flex-direction: column;
    background-color: red;
    color: whitesmoke;
    &__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    }
    &__list-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 1rem;
    }
    &__list-item {
        padding: .5rem;
    }
}