@import "./partials/mixins";
@import "./partials/header";
@import "./partials/schedule";
@import "./partials/social";
@import "./partials/about";
@import "./partials/hero";
.mainbody {
    margin: -.5rem;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}